* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin: 50px auto 75px;
}

h1, 
.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: solid 2px slateblue;
    border-radius:8%;
    width: 280px;
    height: 340px;
    background-color: steelblue;
}

.display {
    background-color: rgb(202, 202, 202);
    color: rgb(70, 70, 70);
    margin: 6px;
    border-radius: 12px;
    height: 25%;
    border: 0.5px solid rgb(166, 166, 166);
}

.buttons {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    min-height: 70%;
    grid-gap: 6px;
    margin: 5px;   
}

.btn {
    border-radius: 50%;
    font-size: large;
    color: rgb(67, 61, 255);
    border: none;
}



#clear-btn {
    grid-column: span 2;
    grid-row: 1;
    border-radius: 5px;
    background-color: rgb(9, 194, 9);
    color: white;
    border: 0.5px solid rgb(213, 213, 213);
}

#delete-btn {
    grid-column: span 2;
    grid-row: 1;
    border-radius: 5px;
    background-color: rgb(7, 93, 164);
    color: white;
    border: 0.5px solid rgb(213, 213, 213);
}

#equalsBtn {
    background-color: rgb(241, 16, 16);
    color: white;
    font-size: larger;
}

#decimalPtBtn {
    background-color: rgb(255, 216, 117);
    font-size: larger;
    color: rgb(67, 61, 255);
}

[data-type="operator"] {
    background-color: rgb(197, 197, 197);
    color: white;
    text-shadow:  2px 2px rgb(67, 61, 255);
    font-size: larger;
}

#lastOpDisplay {
    position: fixed;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
}

#currOpDisplay {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 28px;
    margin-right: 5px;
    align-items: baseline;
}

#clear-btn:hover {
    background-color: greenyellow;
    color: goldenrod;
}

#delete-btn:hover {
    background-color: rgb(143, 177, 250);
    color: rgb(218, 66, 32);
}

[data-type="operator"]:hover {
    background-color: rgb(67, 61, 255);
    color: rgb(218, 66, 32);
}

[data-type="number"]:hover {
    background-color: rgb(67, 61, 255);
    color: whitesmoke;
}

#decimalPtBtn:hover {
    background-color: rgb(33, 28, 171); 
    color: rgb(255, 216, 117);
}

#equalsBtn:hover {
    background-color: rgb(49, 49, 49); 
    color: rgb(242, 52, 52);
}


footer,
#lightningBolt {
    text-align: center;
}